<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear/>
    <add key="CENTRAL-TFS" value="https://tfs.ndd.tech/NDD-DECollection/_packaging/nddCentralSolucoesPackages/nuget/v3/index.json" protocolVersion="3" />
    <add key="LABS-TFS" value="https://tfs.ndd.tech/NDD-PDICollection/_packaging/NDDPackages/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NDDPackages-Legacy" value="https://tfs.ndd.tech/NDD-PDICollection/_packaging/NDDPackages-Legacy/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <CENTRAL-TFS>
<!-- Username_value = seu usuario-->
      <add key="Username" value="build.space" />
<!-- ClearTextPassword = PAT criado na Azure-->   
      <add key="ClearTextPassword" value="F0E6CJXV06fMQ" />
    </CENTRAL-TFS>
    <NDDPackages-Legacy>
<!-- Username_value = seu usuario-->
      <add key="Username" value="build.space" />
<!-- ClearTextPassword = PAT criado na Azure-->   
      <add key="ClearTextPassword" value="F0E6CJXV06fMQ" />
    </NDDPackages-Legacy>
    <LABS-TFS>
<!-- Username_value = seu usuario-->
      <add key="Username" value="build.space" />
<!-- ClearTextPassword = PAT criado na Azure-->   
      <add key="ClearTextPassword" value="F0E6CJXV06fMQ" />
    </LABS-TFS>
  </packageSourceCredentials>
</configuration>